h1 {
  font-size: 100px;
}
#p {
  font-size: 20px;
}
h2 {
  font-size: 50px;
}
h1 {
  font-style: italic;
}
h2 {
  font-style: oblique;
}
body {
  color: rgb(0, 0, 0);
  background-color: rgb(247, 228, 240);
}
